<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Africa</key>
	<array>
		<string>Algeria</string>
		<string>Angola</string>
	</array>
	<key>Antartica</key>
	<array/>
	<key>Asia</key>
	<array>
		<string>Afghanistan</string>
		<string>Bahrain</string>
	</array>
	<key>Europe</key>
	<array>
		<string>Albania</string>
		<string>Andorra</string>
	</array>
	<key>North America</key>
	<array>
		<string>Canada</string>
		<string>United States</string>
	</array>
	<key>Oceania</key>
	<array>
		<string>Australia</string>
		<string>New Zealand</string>
	</array>
	<key>South America</key>
	<array>
		<string>Argentina</string>
		<string>Brazil</string>
	</array>
</dict>
</plist>
